Composer/DocumentumCoreProject/dfs6.7/emc-dfs-sdk-6.7/etc/wsdl/com.emc.documentum.fs.services.core/RepositoryInquiryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions name="RepositoryInquiryService"
    targetNamespace="http://core.services.fs.documentum.emc.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://core.services.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema>
            <xsd:import
                namespace="http://schema.core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://query.core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://properties.core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema4.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://profiles.core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema5.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.services.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema6.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema7.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="RepositoryInquiryService_schema8.xsd"/>
        </xsd:schema>
    </types>
    <message name="getRepositoryList">
        <part element="tns:getRepositoryList" name="parameters"/>
    </message>
    <message name="getRepositoryListResponse">
        <part element="tns:getRepositoryListResponse" name="parameters"/>
    </message>
    <message name="CoreServiceException">
        <part element="tns:CoreServiceException" name="fault"/>
    </message>
    <message name="ServiceException">
        <part element="ns1:ServiceException" name="fault" xmlns:ns1="http://rt.fs.documentum.emc.com/"/>
    </message>
    <message name="getRepositoryNameByObjectId">
        <part element="tns:getRepositoryNameByObjectId" name="parameters"/>
    </message>
    <message name="getRepositoryNameByObjectIdResponse">
        <part element="tns:getRepositoryNameByObjectIdResponse" name="parameters"/>
    </message>
    <portType name="RepositoryInquiryServicePort">
        <operation name="getRepositoryList">
            <documentation><![CDATA[ Returns the list of available content repositories.

 @param options An object containing profiles and properties that specify operation behaviors. If this object is
                null, default operation behaviors will take effect.

 @return List of content repositories

 @throws CoreServiceException
]]></documentation>
            <input message="tns:getRepositoryList"/>
            <output message="tns:getRepositoryListResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getRepositoryNameByObjectId">
            <documentation><![CDATA[ Takes a List of ObjectIds and, for each item in the list, determines the repository in which the object resides.
 It then returns an ObjectIdentitySet that includes the ObjectId and repository name of each object.
 @param objectIdList - A list of ObjectId instances for which repository names are requested.
 @param options - An object containing profiles and properties that specify operation behaviors. If this object is
                null, default operation behaviors will take effect.

 @return ObjectIdentitySet containing ObjectIdentities with the ObjectId passed by the client and the name of the
 repository where the object resides. 

 @throws CoreServiceException
 @since 6.6
]]></documentation>
            <input message="tns:getRepositoryNameByObjectId"/>
            <output message="tns:getRepositoryNameByObjectIdResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
    </portType>
    <binding name="RepositoryInquiryServicePortBinding" type="tns:RepositoryInquiryServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getRepositoryList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getRepositoryNameByObjectId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RepositoryInquiryService">
        <documentation><![CDATA[RepositoryInquiryService is a primary mechanism for retrieving information that
 concerns content repositories under Documentum ECM platform control (i.e. exists
 to service content repository inquiries).

 @since 6.5 SP2]]></documentation>
        <port binding="tns:RepositoryInquiryServicePortBinding" name="RepositoryInquiryServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
